<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Dark Syster</title>
        <script src="/main.js" defer></script>
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body class="mx-10">
        <h1 class="text-3xl my-10">Dark Syster</h1>
        <div class="flex flex-col gap-y-8 text-xl">
            <div class="flex flex-row gap-x-7">
                <h2>Get</h2>
                <input type="text" class="border border-stale-700" placeholder="Key" />
                <button class="bg-slate-700 px-3 text-white border rounded-md">Send</button>
                <h2 class=""></h2>
            </div>
            <div class="flex flex-row gap-x-7">
                <h2>Set</h2>
                <input type="text" class="border" placeholder="Key" />
                <input type="text" class="border" placeholder="Value" />
            </div>
        </div>
    </body>
</html>
